.user-page {
  padding-top: 30px;

  .setting-product {
    position: relative;

    // активно = открыт аккардион-айтем
    &.active {
      .setting-item-content {
        height: auto;
        padding: 30px 20px;
        margin: 0 0 30px;

        border: 1px solid #eaeaea;
      }
    }

    // кнопка аккардиона
    &-clicker {
      display: flex;
      margin: 0 0 30px;
      cursor: pointer;

      &__number {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 42px;
        width: 42px;

        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 15px;
        background-color: #7e4c4f;
        color: #fff;
      }
      &__title {
        display: flex;
        align-items: center;

        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #333;

        padding-left: 10px;
        width: 100%;
        border: 1px solid #e7e7e7;
        text-transform: uppercase;
      }
    }

    // контент аккардиона
    &-content {
      height: 0;
      padding: 0;
      overflow: hidden;

      background-color: #fff;
      transition: all 0.3s linear;

      &__title {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #444444;
        text-transform: uppercase;
      }
      &__subtitle {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #444444;

        letter-spacing: 0.2px;
      }
      &-form-container {
        width: auto;
        max-width: none;
        padding: 0px;
        box-shadow: none;
        background-color: #fff;

        padding-top: 28px;
        margin-top: 30px;
        border-top: 1px solid #eaeaea;

        &__col {
          display: flex;
          flex-direction: column;
          width: 100%;

          .reviews {
            padding: 30px 0px;
            .product-reviews-item {
              width: 100%;
              margin-bottom: 30px;
              &__col {
                display: flex;
                justify-content: space-between;
              }
              &__ratting {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                svg {
                  fill: transparent;
                  stroke: #838383;
                  height: 16px;
                  margin-right: 8px;
                  &.active {
                    stroke: #4d2e30;
                  }
                }
              }
              &__name-data {
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 13px;
                color: #333;
                text-transform: capitalize;
                span {
                  margin-right: 15px;
                }
                button {
                  background-color: transparent;
                  svg {
                    fill: red;
                    height: 14px;
                  }
                }
              }
              &__description {
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                color: #242424;
                // margin-bottom: 15px;
              }
            }
            //! перенести на уровень выше
            .message-about-auth {
              font-family: "Montserrat", sans-serif;
              font-size: 18px;
              font-weight: 400;
              color: #242424;
              line-height: 26px;
              text-align: center;

              border-top: 1px #626262 solid;
              padding-top: 30px;
              a {
                color: #7e4c4f;
                text-decoration: underline;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
          .product-reviews-add-form {
            .title {
              font-family: "Montserrat", sans-serif;
              font-size: 15px;
              font-weight: 500;
              line-height: 12px;
              color: #303030;
              text-transform: uppercase;
              margin-bottom: 20px;
            }
            .subtitle {
              align-items: center;
              margin-bottom: 40px;
              font-family: "Montserrat", sans-serif;
              p {
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 700;
                color: #303030;
                margin-bottom: 6px;
              }
              div {
                display: flex;
                align-items: center;
                svg {
                  fill: transparent;
                  stroke: #838383;
                  height: 16px;
                  margin-right: 8px;
                  &.active {
                    stroke: #4d2e30;
                  }
                }
              }
              button.star {
                background-color: transparent;
              }
            }
            .form {
              // сброс стилей tailwind'a
              max-width: none;
              box-shadow: none;
              background-color: transparent;
              padding: 0;

              width: 100%;
              display: flex;
              flex-direction: column;

              .text-field {
                width: 50%;
                &:first-child {
                  padding-right: 15px;
                }
                &:last-child {
                  padding-left: 15px;
                }
              }
              input {
                width: 100%;
                height: 45px;
                padding: 0 10px;

                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #626262;
                background-color: #fff;
                border: 1px solid #eceff8;
              }
              textarea {
                font-family: "Montserrat", sans-serif;
                resize: vertical;
                background: #fff;
                border: 2px solid #eceff8;
                padding: 10px;
                width: 100%;
                font-size: 14px;
              }
              button.submit {
                display: block;
                margin: 30px auto 0 0;

                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 13px;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                color: #fff;
                background: #7e4c4f;
                border-radius: 0;
                padding: 10px 30px;
                cursor: pointer;
                transition: background-color 0.2s ease 0s;
                &:hover {
                  background-color: #f6ab44;
                }
                &.disabled {
                  background: #7e4c4f49;
                  cursor: default;
                }
              }
            }
          }
        }

        &__row {
          display: flex;
          width: 100%;
        }
        input {
          background-color: transparent;
          border: 1px solid #eaeaea;
          color: #333;
          font-size: 14px;
          height: 50px;
          padding: 0 15px;
        }
        button {
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: 500;

          background-color: #7e4c4f;
          padding: 10px;
          border: 0;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;

          &.submit {
            background-color: #7e4c4f;
          }
          &:disabled {
            background-color: #7e4c4f63;
            cursor: default;
            &:hover {
              background-color: #7e4c4f63;
            }
          }

          &:hover {
            background-color: #f6ab44;
          }
        }
        a {
          text-decoration: underline;
          &:hover {
            color: #f6ab44;
          }
        }
        .back-btn {
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: 500;
          text-decoration: none;

          background-color: #db1d2a;
          padding: 12px;
          margin-left: 20px;
          border: 0;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          &:hover {
            background-color: #ac000b;
          }
        }
        .text-field {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 0 10px;
          &:last-child {
            padding-right: 0;
          }
          &:first-child {
            padding-left: 0;
          }

          label {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #242424;
            margin-bottom: 8px;
          }
          input {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #555;

            height: 40px;
            padding: 0 15px;
            background-color: transparent;
            border: 1px solid #eaeaea;
            border-radius: 5px;
          }
        }
        .textarea {
          width: 100%;

          textarea {
            font-family: "Montserrat", sans-serif;
            resize: vertical;
            background: #fff;
            border: 2px solid #eceff8;
            padding: 10px;
            width: 100%;
            // max-height: 700px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
