//* <МИКСИНЫ>===============================================================================================
// @import "./utils/scss/mixins";
//* <ШРИФТЫ>===============================================================================================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Pacifico&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");

//<Шрифт по умолчанию>==========================================================================================
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
}
//* <ОБОЛОЧКА>===========================================================================================================
.app-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 80px;

  @media (max-width: 770px) {
    padding-top: 60px;
  }
  @media (max-width: 500px) {
    padding-top: 56px;
  }
}
// .empty-space {
//    height: 700px;
//    width: 100%;
//    background-color: #fff;
//    text-align: center;
//    border-top: 1px solid #ccc;
// }

//* <ОСНОВНАЯ СЕТКА>===========================================================================================================
.my-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

//* <ОСНОВНОЙ БЛОК>====================================================================================================

//* <АДАПТИВ>====================================================================================================
// сделать отдельно в файлах компонентов
// //? Point 1 ----------------------------------
// @media (max-width: $md1) {
// }
// //? Point 2 ----------------------------------
// @media (max-width: $md2) {
// }
// //? Point 3 ----------------------------------
// @media (max-width: $md3) {
// }
// //? Point 4 ----------------------------------
// @media (max-width: $md4) {
// }
// //? Point 5 ----------------------------------
// @media (max-width: $md5) {
// }
