.popular {
  padding: 95px 0 70px;
  text-align: center;
  background-color: #f6f6f6;
  &__toptitle {
    margin: 0 0 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 22px;
    color: #000101;
  }
  &__bottomtitle {
    color: #000101;
    font-size: 36px;
    font-weight: 600;
    line-height: 35px;
    margin: 0;
  }
}
.popular-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}

.popular-item {
  width: 25%;
  text-align: left;
  padding: 0 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  &:hover {
    .popular-item__img-popap {
      opacity: 1;
      top: 50%;
    }
    .popular-item__img img {
      opacity: 0.8;
    }
  }

  &__img {
    position: relative;
    a {
      display: block;
      transition: background-color 0.3s ease 0s;
    }
    img {
      display: block;
      width: 100%;
      border-radius: 10px;
      transition: all 0.4s ease 0s;
      opacity: 1;
    }
    &-popap {
      display: flex;
      position: absolute;
      top: 55%;
      left: 50%;
      z-index: 5;
      transform: translate3d(-50%, -50%, 0);
      background-color: #fff;
      // animation
      opacity: 0;
      transition: all 0.4s ease 0s;
      a:hover {
        background-color: #f6ac4473;
      }
      svg {
        height: 30px;
        width: 30px;
        margin: 5px 10px;
      }
    }
  }
  &__content {
    padding: 17px 10px 16px;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    color: #000101;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px;
    letter-spacing: 0.08px;
  }
  &__price {
    font-family: "Montserrat", sans-serif;
    color: #686868;
    font-size: 16px;
    font-weight: 500;
    margin: 0 12px 0 0;
  }
}
