.header-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  &__link {
    display: inline-block;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #383838;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;
    transition: color 0.1s linear;

    a:not(.drop-menu__link) {
      display: flex;
      align-items: center;
      height: 50px;
      text-decoration: none;
      @media (max-width: 500px) {
        height: 30px;
      }
    }
    &:hover {
      color: #f6ab44;
      text-decoration: none;
    }
  }
}
