// Higth Wrapper
.category-nav_HW {
  background-color: #f6f6f6;
  padding: 40px 0 60px;

  @media (max-width: 1150px) {
    padding: 40px 0 40px;
  }
  @media (max-width: 750px) {
    padding: 20px 0 20px;
  }

  &.litle-padding {
    padding: 20px 0;
    @media (max-width: 500px) {
      padding: 0px 0 15px;
    }
  }

  h2 {
    color: #000101;
    font-size: 36px;
    font-weight: 600;
    line-height: 35px;
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
  }
}

.category-nav {
  width: 100%;
  height: 277px;
  display: flex;
  transition: all 0.3s ease 0s;
  animation: 0.4s alternate forwards categoryToNormal;

  @media (max-width: 1150px) {
    animation: 0.1s alternate forwards changeHeight;
    @keyframes changeHeight {
      from {
        height: 277px;
      }
      to {
        height: 170px;
      }
    }
  }
  @media (max-width: 750px) {
    animation: 0.1s alternate forwards changeHeight;
    @keyframes changeHeight {
      from {
        height: 170px;
      }
      to {
        height: 70px;
      }
    }
  }

  @keyframes categoryToNormal {
    from {
      overflow: hidden;
      height: 100px;
    }
    to {
      height: 277px;
    }
  }

  &.small {
    overflow: hidden;
    justify-content: center;
    border-radius: 10px;
    animation: 0.4s alternate forwards categoryToSmall;
    @media (max-width: 1150px) {
      h3 {
        top: 0;
      }
    }

    @keyframes categoryToSmall {
      from {
        height: 277px;
      }
      to {
        height: 60px;
        padding: 5px 0;
      }
    }
    .category-nav-item {
      background-color: transparent;
      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding: 15px 0;
        width: 80%;

        @media (max-width: 1150px) {
          top: 0px;
          margin: -8px 0;
        }
        @media (max-width: 750px) {
          width: 100%;
          font-size: 18px;
        }
      }
      img {
        display: none;
      }
      &:after {
        display: none;
      }
    }
    .category-nav-item h3 {
      bottom: 50%;
      transform: translate3d(-50%, 50%, 0);
    }
  } // /&.small
}

.category-nav-item {
  position: relative;
  width: 33.3%;
  margin: 0 15px;
  cursor: pointer;

  @media (max-width: 420px) {
    margin: 0 5px;
  }

  img {
    display: block;
    width: 100%;
    @media (max-width: 750px) {
      display: none;
    }
  }
  h3 {
    position: absolute;
    bottom: -35px;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    width: 80%;

    display: inline-block;
    font-family: "Pacifico", cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-align: center;

    color: #000101;
    padding: 20px 74px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0.3px 7px rgb(0 0 0 / 20%);
    transition: all 0.3s ease 0s;

    @media (max-width: 1150px) {
      bottom: auto;
      top: 50%;
      transform: translate3d(-50%, 0%, 0);
    }
    @media (max-width: 950px) {
      top: 40%;
      padding: 10px 0px;
    }
    @media (max-width: 750px) {
      top: 20%;
      font-size: 20px;
      width: 100%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0);

    width: 50%;
    height: 50%;
    opacity: 0;
    // background-color: #000;
    transition: all 0.3s ease 0s;
  }
  &.man-color:after {
    background-color: #001a2e;
  }
  &.woman-color:after {
    background-color: #360015;
  }
  &.car-color:after {
    background-color: #2e1f00;
  }
  &:hover {
    &:after {
      opacity: 0.5;
      width: 100%;
      height: 100%;
      // background-color: red;
    }
    &.man-color h3 {
      color: #fff;
      background-color: #015ea4;
    }
    &.woman-color h3 {
      color: #fff;
      background-color: #fd3281;
    }
    &.car-color h3 {
      color: #fff;
      background-color: #eaba5a;
    }
  }
  &.active {
    &:after {
      opacity: 0.2;
      width: 100%;
      height: 100%;
    }
    &.man-color h3 {
      color: #fff;
      background-color: #015ea4;
    }
    &.woman-color h3 {
      color: #fff;
      background-color: #fd3281;
    }
    &.car-color h3 {
      color: #fff;
      background-color: #eaba5a;
    }
  }
}
