.category-nav_HW {
  background-color: #f6f6f6;
}

.category-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 40px 0 60px;
}
@media (max-width: 700px) {
  .category-nav {
    padding: 30px 0;
  }
}
.category-nav.type-selected {
  padding: 30px 0;
}
.category-nav.type-selected .category-nav-item:after {
  display: none;
}
.category-nav.type-selected .category-nav-item h3 {
  position: relative;
  top: 0;
}
@media (min-width: 700px) {
  .category-nav.type-selected .category-nav-item h3 {
    padding: 15px 0;
  }
}
.category-nav.type-selected .category-nav-item img {
  display: none;
}

.category-nav-item {
  display: block;
  position: relative;
  width: 33.3%;
  margin: 0 15px;
  cursor: pointer;
}
.category-nav-item img {
  display: block;
  width: 100%;
}
@media (max-width: 700px) {
  .category-nav-item img {
    display: none;
  }
}
.category-nav-item h3 {
  position: absolute;
  bottom: -35px;
  left: 50%;
  z-index: 3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  display: inline-block;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #000101;
  padding: 20px 74px;
  background-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0.3px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3px 7px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1150px) {
  .category-nav-item h3 {
    padding: 15px 0px;
    font-size: 25px;
  }
}
@media (max-width: 700px) {
  .category-nav-item h3 {
    position: relative;
    top: 0;
    bottom: auto;
    padding: 10px 0px;
    font-size: 20px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .category-nav-item h3 {
    font-size: 16px;
  }
}
.category-nav-item:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 50%;
  height: 50%;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.category-nav-item.man-color:after {
  background-color: #001a2e;
}
.category-nav-item.woman-color:after {
  background-color: #360015;
}
.category-nav-item.car-color:after {
  background-color: #2e1f00;
}
.category-nav-item:hover:after {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.category-nav-item:hover.man-color h3 {
  color: #fff;
  background-color: #015ea4;
}
.category-nav-item:hover.woman-color h3 {
  color: #fff;
  background-color: #fd3281;
}
.category-nav-item:hover.car-color h3 {
  color: #fff;
  background-color: #eaba5a;
}
.category-nav-item.active:after {
  display: none;
}
.category-nav-item.active.man-color h3 {
  color: #fff;
  background-color: #015ea4;
}
.category-nav-item.active.woman-color h3 {
  color: #fff;
  background-color: #fd3281;
}
.category-nav-item.active.car-color h3 {
  color: #fff;
  background-color: #eaba5a;
}