.footer {
  background-color: #f3f3f3;
  padding: 50px 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
  }
  &__col {
    width: 25%;
    @media (max-width: 940px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    @media (max-width: 760px) {
      width: 50%;
    }
    @media (max-width: 490px) {
      width: 100%;
    }

    .footer-firstcol {
      display: flex;
      @media (max-width: 940px) {
        align-items: center;
      }
      &__logo {
        @media (max-width: 490px) {
          img {
            margin: 0px auto;
          }
        }
      }
      &__description {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: #6c6c6c;

        margin: 20px 0;
      }
      &__social {
        display: flex;
        @media (max-width: 490px) {
          margin-bottom: 20px;
        }
        svg {
          fill: transparent;
          stroke: #6c6c6c;
          height: 25px;
          margin-right: 15px;
          cursor: pointer;
          transition: color 0.2s ease 0s;
          &:hover {
            stroke: #613b3e;
          }
        }
      }
    }
    &.footer-useful,
    &.footer-help {
      display: flex;
      flex-direction: column;
      padding-left: 50px;

      @media (max-width: 940px) {
        padding-left: 0px;
        margin-bottom: 20px;
        text-align: center;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #575757;
        margin-bottom: 35px;
        @media (max-width: 490px) {
          margin-bottom: 20px;
        }
      }
      a {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #6c6c6c;
        margin: 0 auto 13px 0;
        transition: all 0.2s ease 0s;
        @media (max-width: 940px) {
          margin: 0 auto 13px;
        }
        @media (max-width: 490px) {
          margin-bottom: 10px;
        }

        &:hover {
          color: #7e4c4f;
          padding-left: 5px;
        }
      }
    }
    &.subscribe {
      p {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #6c6c6c;

        line-height: 26px;
        margin-bottom: 26px;
      }
      form {
        padding: 3px 0;
        box-shadow: none;

        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 50px;

        .text-field {
          width: 100%;
          margin-bottom: 0;
          height: 100%;
          margin-right: 5px;

          input {
            border: 0;
            height: 100%;

            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            color: #c3c3c3;
            font-size: 14px;
            border-radius: 50px;
            padding: 0 0 0 13px;
            &.is-invalid {
              &:focus {
                outline: 1px solid red;
              }
            }
            &.is-valid {
              &:focus {
                outline: 1px solid green;
              }
            }
          }
        }
        button {
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: 14px;

          height: 100%;
          line-height: 0;
          color: #fff;
          background-color: #7e4c4f;
          border-radius: 50px;
          cursor: pointer;
          padding: 0px 25px;
          transition: background-color 0.2s ease 0s;
          &.disabled {
            background-color: #7e4c4f98;
            cursor: default;
          }
        }
      }
    }
  }
}
