.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  margin: 0px auto;
  background-color: #fff;
  padding: 15px 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.fixed {
  position: fixed;
  padding: 7px 0;
  -webkit-animation: 0.4s fixedHeader forwards;
          animation: 0.4s fixedHeader forwards;
}
@-webkit-keyframes fixedHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fixedHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
.header-nav__link {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #383838;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.header-nav__link a:not(.drop-menu__link) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  text-decoration: none;
}
.header-nav__link:hover {
  color: #f6ab44;
  text-decoration: none;
}
.header-nav .drop-menu {
  position: absolute;
  top: 100%;
  left: 12%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0px #525252;
          box-shadow: 0 0 5px 0px #525252;
  -webkit-animation: 0.4s alternate forwards slidein;
          animation: 0.4s alternate forwards slidein;
}
@-webkit-keyframes slidein {
  from {
    top: 130%;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
@keyframes slidein {
  from {
    top: 130%;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
.header-nav .drop-menu__link {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #383838;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.header-nav .drop-menu__link:hover {
  color: #f6ab44;
  text-decoration: none;
  opacity: 1;
}
.header-nav .drop-menu__link:last-child {
  margin-bottom: 0;
}

.header-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-cart input {
  position: absolute;
  top: 50%;
  right: 100%;
  z-index: 3;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #383838;
  height: 25px;
  border-radius: 5px;
  outline-color: #f6ab44;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.header-cart input.active {
  opacity: 1;
  width: 200px;
}
.header-cart__icon {
  height: 40px;
  margin-right: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: fill 0.15s linear;
  transition: fill 0.15s linear;
}
.header-cart__icon svg {
  height: 27px;
}
.header-cart__icon path {
  -webkit-transition: stroke 0.15s linear;
  transition: stroke 0.15s linear;
}
.header-cart__icon:hover:not(:last-child) {
  fill: #f6ab44;
}
.header-cart__icon:hover:last-child path {
  stroke: #f6ab44;
}
.header-cart__user-container {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.header-cart__user-container button {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: fill 0.15s linear;
  transition: fill 0.15s linear;
}
.header-cart__user-container button svg {
  margin-top: 4px;
  height: 27px;
}
.header-cart__user-container button path {
  -webkit-transition: stroke 0.15s linear;
  transition: stroke 0.15s linear;
}
.header-cart__user-container button:hover:not(:last-child) {
  fill: #f6ab44;
}
.header-cart__user-container button:hover:last-child path {
  stroke: #f6ab44;
}
.header-cart__user-container img {
  width: 100%;
  border-radius: 50%;
  border: 1px #7e4c4f solid;
}
.header-cart__user-container .drop-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px 0px #525252;
          box-shadow: 0 0 5px 0px #525252;
}
.header-cart__user-container .drop-menu a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #383838;
  text-decoration: none;
  margin-bottom: 8px;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.header-cart__user-container .drop-menu a:hover {
  color: #f6ab44;
  text-decoration: none;
  opacity: 1;
}
.header-cart__user-container .drop-menu a:last-child {
  margin-bottom: 0;
}

/*
.burger {
	display: none;
	background: none;
	padding: 13px 2px;
	border: 0px;
	font-size: 0;
	cursor: pointer;
	&__icon {
		display: block;
		width: 37px;
		height: 3px;
		background-color: #fff;
		border-radius: 2px;

		position: relative;

		&:before, &:after {
			content: "";
			position: absolute;
			top: 9px;
			left: 0;
			width: 37px;
			height: 3px;
			background-color: #fff;
			border-radius: 2px;
		}
		&:after {
			content: "";
			position: absolute;
			top: -9px;
			left: 0;
			width: 37px;
			height: 3px;
			background-color: #fff;
			border-radius: 2px
		}
	}
}
*/