.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  margin: 0px auto;
  background-color: #fff;
  padding: 15px 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  .header__inner .header-logo img {
    width: 100px;
  }
}
.header.fixed {
  position: fixed;
  padding: 7px 0;
  -webkit-box-shadow: 0px 0px 10px #6d6d6d;
          box-shadow: 0px 0px 10px #6d6d6d;
  -webkit-animation: 0.4s fixedHeader forwards;
          animation: 0.4s fixedHeader forwards;
}
@-webkit-keyframes fixedHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fixedHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
.header-nav__link {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #383838;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.header-nav__link a:not(.drop-menu__link) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  text-decoration: none;
}
@media (max-width: 500px) {
  .header-nav__link a:not(.drop-menu__link) {
    height: 30px;
  }
}
.header-nav__link:hover {
  color: #f6ab44;
  text-decoration: none;
}

.drop-menu {
  position: absolute;
  top: 100%;
  left: 12%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0px #525252;
          box-shadow: 0 0 5px 0px #525252;
  -webkit-animation: 0.4s alternate forwards slidein;
          animation: 0.4s alternate forwards slidein;
}
@-webkit-keyframes slidein {
  from {
    top: 130%;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
@keyframes slidein {
  from {
    top: 130%;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
.drop-menu__link {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #383838;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.drop-menu__link:hover {
  color: #f6ab44;
  text-decoration: none;
  opacity: 1;
}
.drop-menu__link:last-child {
  margin-bottom: 0;
}
.drop-menu.user {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 10px;
  padding: 15px;
}
.drop-menu.user a {
  text-transform: capitalize;
}
.drop-menu.cart {
  left: auto;
  right: 0;
  margin-top: 8px;
  padding: 15px;
  cursor: default;
}
@media (max-width: 770px) {
  .drop-menu.cart {
    right: -40px;
  }
}
.drop-menu.cart a {
  text-transform: capitalize;
}
.drop-menu.cart .cart-wrapper__col {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 220px;
}
.drop-menu.cart .cart-wrapper__col:not(:last-child) {
  border-bottom: 1px #ccc solid;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.drop-menu.cart .cart-wrapper__col img {
  height: 50px;
  border-radius: 5px;
}
.drop-menu.cart .cart-wrapper__col button {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
}
.drop-menu.cart .cart-wrapper__col button svg {
  height: 15px;
  -webkit-transition: fill 0.2s ease 0s;
  transition: fill 0.2s ease 0s;
}
.drop-menu.cart .cart-wrapper__col button svg:hover {
  fill: #f6ab44;
}
.drop-menu.cart .cart-wrapper__row {
  text-align: left;
}
.drop-menu.cart .cart-wrapper__row span.total-price {
  color: #393d41;
}
.drop-menu.cart .cart-wrapper__row a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #383838;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.drop-menu.cart .cart-wrapper__row a:hover {
  color: #f6ab44;
  text-decoration: none;
}
.drop-menu.cart .cart-wrapper__row:not(:first-child) {
  padding-left: 15px;
}
.drop-menu.cart .cart-wrapper .to-cart-btn {
  text-align: center;
}
.drop-menu.search {
  left: auto;
  right: 15px;
  margin-top: 8px;
  padding: 15px;
  cursor: default;
  border-radius: 5px;
}
.drop-menu.search a {
  text-transform: capitalize;
}
.drop-menu.search .not-found {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin-top: 20px;
}
.drop-menu.search .text-field input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.drop-menu.search .text-field input:focus {
  outline: 1px #7e4c4f solid;
}
.drop-menu.search .search-wrapper {
  margin-top: 20px;
}
.drop-menu.search .search-wrapper__col {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.drop-menu.search .search-wrapper__col:not(:last-child) {
  border-bottom: 1px #ccc solid;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.drop-menu.search .search-wrapper__col img {
  height: 50px;
  border-radius: 5px;
}
.drop-menu.search .search-wrapper__col button {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
}
.drop-menu.search .search-wrapper__col button svg {
  height: 15px;
  -webkit-transition: fill 0.2s ease 0s;
  transition: fill 0.2s ease 0s;
}
.drop-menu.search .search-wrapper__col button svg:hover {
  fill: #f6ab44;
}
.drop-menu.search .search-wrapper__row {
  text-align: left;
}
.drop-menu.search .search-wrapper__row span.total-price {
  color: #393d41;
}
.drop-menu.search .search-wrapper__row a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #383838;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.drop-menu.search .search-wrapper__row a:hover {
  color: #f6ab44;
  text-decoration: none;
}
.drop-menu.search .search-wrapper__row:not(:first-child) {
  padding-left: 15px;
}

.header-panel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-panel__icon {
  position: relative;
  height: 30px;
  margin-right: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: fill 0.15s linear;
  transition: fill 0.15s linear;
}
@media (max-width: 500px) {
  .header-panel__icon {
    height: 25px;
  }
}
.header-panel__icon svg {
  height: 100%;
}
.header-panel__icon path {
  -webkit-transition: stroke 0.15s linear;
  transition: stroke 0.15s linear;
}
.header-panel__icon:hover:not(:last-child) {
  fill: #f6ab44;
}
.header-panel__icon .card-index {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2px;
  font-size: 12px;
  color: #fff;
  background-color: #7e4c4f;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.header-panel__icon.cart {
  position: relative;
}
.header-panel__icon.cart:before {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.header-panel__icon.cart.big-zone:before {
  content: "";
  right: 80%;
  width: 120%;
  height: 100px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  background-color: transparent;
}
.header-panel__user-container {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.header-panel__user-container button {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: fill 0.15s linear;
  transition: fill 0.15s linear;
}
.header-panel__user-container button svg {
  margin-top: 4px;
  height: 27px;
}
.header-panel__user-container button path {
  -webkit-transition: stroke 0.15s linear;
  transition: stroke 0.15s linear;
}
.header-panel__user-container button:hover:not(:last-child) {
  fill: #f6ab44;
}
.header-panel__user-container button:hover:last-child path {
  stroke: #f6ab44;
}
.header-panel__user-container img {
  width: 100%;
  border-radius: 50%;
  border: 1px #7e4c4f solid;
}

.cart-helper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 0px;
  height: 0px;
  opacity: 0;
}
.cart-helper.active {
  display: block;
  opacity: 1;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px 0 5px;
  position: relative;
  height: 35px;
  width: 45px;
}
@media (max-width: 500px) {
  .burger {
    margin: 0 5px 0 5px;
  }
}
.burger:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.burger-button {
  background: none;
  border: 0px;
  font-size: 0;
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 37px;
  height: 3px;
}
.burger-button.active .burger-button__icon {
  background-color: transparent;
}
.burger-button.active .burger-button__icon:after {
  top: 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  background-color: #f6ab44;
}
.burger-button.active .burger-button__icon:before {
  top: 0;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  background-color: #f6ab44;
}
.burger-button__icon {
  display: block;
  width: 37px;
  height: 3px;
  background-color: #7e4c4f;
  border-radius: 2px;
  position: relative;
}
.burger-button__icon:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 37px;
  height: 3px;
  background-color: #7e4c4f;
  border-radius: 2px;
}
.burger-button__icon:after {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 37px;
  height: 3px;
  background-color: #7e4c4f;
  border-radius: 2px;
}
@media (max-width: 500px) {
  .burger-button__icon {
    width: 33px;
    height: 3px;
  }
  .burger-button__icon:before {
    width: 33px;
    height: 3px;
  }
  .burger-button__icon:after {
    width: 33px;
    height: 3px;
  }
}
.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 70vw;
  height: 100vh;
  background-color: rgba(37, 37, 37, 0.9529411765);
  -webkit-animation: openBurgerMenu 0.4s forwards ease 0s;
          animation: openBurgerMenu 0.4s forwards ease 0s;
}
@-webkit-keyframes openBurgerMenu {
  from {
    width: 0;
  }
  to {
    width: 80vw;
  }
}
@keyframes openBurgerMenu {
  from {
    width: 0;
  }
  to {
    width: 80vw;
  }
}
.burger-menu__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #f6ab44;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 30px;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

@media (max-width: 770px) {
  .header-nav {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}