//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	margin: 0px auto;
	background-color: #fff;
	padding: 15px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&.fixed {
		position: fixed;
		padding: 7px 0;

		animation: 0.4s fixedHeader forwards;
		@keyframes fixedHeader {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	}
}

// navigation
.header-nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;

	&__link {
		display: inline-block;
		align-items: center;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		color: #383838;
		text-decoration: none;
		text-transform: uppercase;
		margin-right: 30px;
		transition: color 0.1s linear;
		a:not(.drop-menu__link) {
			display: flex;
			align-items: center;
			height: 50px;
			text-decoration: none;
		}
		&:hover {
			color: #f6ab44;
			text-decoration: none;
		}
	}
	// позиция относительно .header-nav
	.drop-menu {
		position: absolute;
		top: 100%;
		left: 12%;
		z-index: 10;
		// transform: translateX(-50%);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 0 5px 0px #525252;

		// анимация появления drop-menu
		animation: 0.4s alternate forwards slidein;
		@keyframes slidein {
			from {
				top: 130%;
				opacity: 0;
			}
			to {
				opacity: 1;
				top: 100%;
			}
		}
		// drop-menu__link:
		&__link {
			display: inline-block;
			margin-bottom: 10px;

			font-family: "Montserrat", sans-serif;
			font-weight: 500;
			color: #383838;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.1s linear;
			&:hover {
				color: #f6ab44;
				text-decoration: none;
				opacity: 1;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// panel
.header-panel {
	position: relative;
	display: flex;
	align-items: center;

	input {
		position: absolute;
		top: 50%;
		right: 100%;
		z-index: 3;
		transform: translateY(-50%);

		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		font-size: 14px;
		color: #383838;

		height: 25px;
		border-radius: 5px;
		outline-color: #f6ab44;

		// amination
		opacity: 0;
		width: 0;
		transition: all 0.2s ease 0s;
		&.active {
			opacity: 1;
			width: 200px;
		}
	}

	&__icon {
		height: 40px;
		margin-right: 15px;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		transition: fill 0.15s linear;

		svg {
			height: 27px;
		}
		path {
			transition: stroke 0.15s linear;
		}
		&:hover:not(:last-child) {
			fill: #f6ab44;
		}
		&:hover:last-child {
			path {
				stroke: #f6ab44;
			}
		}
	}

	&__user-container {
		position: relative;
		width: 35px;
		height: 35px;
		margin-right: 10px;

		button {
			height: 45px;
			display: flex;
			// align-items: start;

			// padding: 5px 0;
			background-color: transparent;
			border: 0;
			cursor: pointer;
			transition: fill 0.15s linear;

			svg {
				margin-top: 4px;
				height: 27px;
			}
			path {
				transition: stroke 0.15s linear;
			}
			&:hover:not(:last-child) {
				fill: #f6ab44;
			}
			&:hover:last-child {
				path {
					stroke: #f6ab44;
				}
			}
		}

		img {
			width: 100%;
			// height: 35px;
			border-radius: 50%;
			border: 1px #7e4c4f solid;
		}

		.drop-menu {
			position: absolute;
			top: 100%;
			left: 50%;
			z-index: 4;
			transform: translateX(-50%);

			margin-top: 10px;
			padding: 15px;

			background-color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			box-shadow: 0 0 5px 0px #525252;

			a {
				font-family: "Montserrat", sans-serif;
				font-weight: 500;
				color: #383838;
				text-decoration: none;
				margin-bottom: 8px;
				// text-transform: uppercase;
				transition: color 0.1s linear;
				&:hover {
					color: #f6ab44;
					text-decoration: none;
					opacity: 1;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

//====================================================================================================
/*
.burger {
	display: none;
	background: none;
	padding: 13px 2px;
	border: 0px;
	font-size: 0;
	cursor: pointer;
	&__icon {
		display: block;
		width: 37px;
		height: 3px;
		background-color: #fff;
		border-radius: 2px;

		position: relative;
		
		&:before, &:after {
			content: "";
			position: absolute;
			top: 9px;
			left: 0;
			width: 37px;
			height: 3px;
			background-color: #fff;
			border-radius: 2px;
		}
		&:after {
			content: "";
			position: absolute;
			top: -9px;
			left: 0;
			width: 37px;
			height: 3px;
			background-color: #fff;
			border-radius: 2px
		}
	}
}
*/

//====================================================================================================
