.modal-is-open {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.product-modal {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.product-modal.active {
  display: block;
  -webkit-animation: 0.4s alternate forwards openProductModal;
          animation: 0.4s alternate forwards openProductModal;
}
@-webkit-keyframes openProductModal {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@keyframes openProductModal {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.product-modal.active .product-modal__wrapper {
  -webkit-animation: 0.4s alternate forwards openProductModalWrapper;
          animation: 0.4s alternate forwards openProductModalWrapper;
}
@-webkit-keyframes openProductModalWrapper {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
@keyframes openProductModalWrapper {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
.product-modal.active.hiding {
  -webkit-animation: 0.4s alternate forwards closeProductModal;
          animation: 0.4s alternate forwards closeProductModal;
}
@-webkit-keyframes closeProductModal {
  from {
    background-color: rgba(0, 0, 0, 0.8);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes closeProductModal {
  from {
    background-color: rgba(0, 0, 0, 0.8);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
.product-modal.active.hiding .product-modal__wrapper {
  -webkit-animation: 0.4s alternate forwards closeProductModalWrapper;
          animation: 0.4s alternate forwards closeProductModalWrapper;
}
@-webkit-keyframes closeProductModalWrapper {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes closeProductModalWrapper {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.product-modal__wrapper {
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  max-width: 875px;
  height: 610px;
  padding: 50px;
  overflow: auto;
  background-color: #f6f6f6;
  opacity: 0;
}
.product-modal__wrapper .product-modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0;
  background-color: transparent;
  border: 0;
}
.product-modal__wrapper .product-modal__close svg {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.product-modal__wrapper .product-modal__close:hover svg {
  width: 90%;
  height: 90%;
  fill: #7e4c4f;
}
.product-modal .product-modal-preview {
  max-width: 320px;
  max-height: 380px;
  border: 1px solid #ddd;
}
.product-modal .product-modal-preview .slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.product-modal .product-modal-preview .slick-slider .slick-dots {
  position: absolute;
  top: 103%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 0px;
  margin: 0;
}
.product-modal .product-modal-preview .slick-slider .slick-dots li {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  list-style: none;
  overflow: hidden;
}
.product-modal .product-modal-preview .slick-slider .slick-dots li:last-child {
  margin-right: 0;
}
.product-modal .product-modal-preview .slick-slider .slick-dots li button {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.product-modal .product-modal-preview .slick-slider .slick-dots li button img {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}
.product-modal .product-modal-preview .slick-slider .slick-dots li button img:hover {
  opacity: 0.5;
}
.product-modal .product-modal-preview .slick-list {
  overflow: hidden;
  width: 100%;
}
.product-modal .product-modal-preview .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}