.product-actions {
  display: flex;
  padding-top: 15px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #242424;

  &-counter {
    display: flex;
    padding: 9px;
    border: 1px solid #a0a0a0;
    margin-right: 25px;
    @media (max-width: 400px) {
      margin-right: 10px;
    }

    button,
    p {
      padding: 0 6px;
    }
  }
  &-cartadd {
    font-size: 14px;
    font-weight: 500;
    margin-right: 25px;
    padding: 10px 42px;
    border: 1px solid #a0a0a0;
    transition: background-color 0.3s ease 0s;
    background-color: #7e4c4f;
    color: #fff;

    @media (max-width: 400px) {
      padding: 10px 10px;
      margin-right: 10px;
    }

    &:hover {
      background-color: #07610e;
    }
    &.added {
      &:hover {
        background-color: #a10000;
      }
    }
  }
  &-bookmark {
    padding: 10px auto;
    border: 1px solid #a0a0a0;
    transition: all 0.2s ease 0s;
    padding: 0 10px;
    svg {
      fill: transparent;
      stroke: #a0a0a0;
      width: 25px;
      transition: all 0.2s ease 0s;
    }
    &:hover {
      background-color: #000;
      svg {
        stroke: #fff;
      }
    }
    &.active {
      svg {
        fill: #000;
        stroke: #000;
      }
      &:hover {
        background-color: #000;
        svg {
          fill: #fff;
          stroke: #fff;
        }
      }
    }
  }
}
