.product-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #242424;
}
.product-actions-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px;
  border: 1px solid #a0a0a0;
  margin-right: 25px;
}
.product-actions-counter button,
.product-actions-counter p {
  padding: 0 6px;
}
.product-actions-cartadd {
  font-size: 14px;
  font-weight: 500;
  margin-right: 25px;
  padding: 10px 42px;
  border: 1px solid #a0a0a0;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  background-color: #7e4c4f;
  color: #fff;
}
.product-actions-cartadd:hover {
  background-color: #07610e;
}
.product-actions-cartadd.added:hover {
  background-color: #a10000;
}
.product-actions-bookmark {
  padding: 10px auto;
  border: 1px solid #a0a0a0;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding: 0 10px;
}
.product-actions-bookmark svg {
  fill: transparent;
  stroke: #a0a0a0;
  width: 25px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.product-actions-bookmark:hover {
  background-color: #000;
}
.product-actions-bookmark:hover svg {
  stroke: #fff;
}
.product-actions-bookmark.active svg {
  fill: #000;
  stroke: #000;
}
.product-actions-bookmark.active:hover {
  background-color: #000;
}
.product-actions-bookmark.active:hover svg {
  fill: #fff;
  stroke: #fff;
}