.select {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #7e4c4f;

  &__wrapper {
    display: flex;
  }

  &-item {
    select {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: #7e4c4f;

      padding: 5px;
      border-radius: 5px;
      margin: 10px 5px 0 0;
    }
  }
  &-buttons {
    button {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;

      background-color: #7e4c4f;
      padding: 8px 20px;
      margin: 10px 10px 0 0;
      border: 0;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s ease 0s;

      &:disabled {
        background-color: #7e4c4f63;
        cursor: default;
        &:hover {
          background-color: #7e4c4f63;
        }
      }
      &:hover {
        background-color: #f6ab44;
      }
    }
    a {
      text-decoration: underline;
      transition: all 0.2s ease 0s;
      &:hover {
        color: #f6ab44;
      }
    }
    .back-btn {
      background-color: #db1d2a;
      border: 0;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #ac000b94;
      }
    }
  }
}
