.intro {
  background-color: #ffe4b3;
  margin-bottom: 60px;
}
.intro .slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 40px 0;
}
.intro .slick-slider button {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 0;
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  background-color: transparent;
  cursor: pointer;
  border: 4px #7e4c4f solid;
  border-radius: 10%;
  -webkit-transition: border-color 0.15s linear;
  transition: border-color 0.15s linear;
}
.intro .slick-slider button.slick-next {
  right: 0;
  border-bottom: none;
  border-left: none;
}
.intro .slick-slider button.slick-prev {
  left: 0;
  border-top: none;
  border-right: none;
}
.intro .slick-slider button:hover {
  border-color: #f6ab44;
}
.intro .slick-list {
  overflow: hidden;
}
.intro .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro .slick-slide {
  opacity: 0;
  -webkit-animation: 0.4s alternate forwards slickDeActive;
          animation: 0.4s alternate forwards slickDeActive;
}
@-webkit-keyframes slickDeActive {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slickDeActive {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.intro .slick-slide.slick-active {
  -webkit-animation: 0.4s alternate forwards slickActive;
          animation: 0.4s alternate forwards slickActive;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@-webkit-keyframes slickActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slickActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.intro .slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px;
}
.intro .slider-item__column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro .slider-item__content h3 {
  color: #000101;
  font-family: "Pacifico", cursive;
  font-size: 34px;
  font-weight: 400;
  line-height: 61px;
  margin: 0;
}
.intro .slider-item__content h1 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  margin: 18px 0 31px;
}
.intro .slider-item__content a {
  display: inline-block;
  padding: 20px 45px;
  font-weight: bold;
  background-color: #7e4c4f;
  border-radius: 50px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.intro .slider-item__content a:hover {
  text-decoration: none;
  background-color: #c57d17;
}