.create-product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 28px;
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
}
.create-product-page__title {
  color: #7e4c4f;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 61px;
  margin-bottom: 20px;
}
.create-product-page .form-container {
  width: auto;
  max-width: none;
  padding: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  padding-top: 28px;
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
}
.create-product-page .form-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid red;
  padding: 10px;
}
.create-product-page .form-container__col {
  border: 1px solid #333;
  width: 50%;
}
.create-product-page__buttons {
  margin-top: 30px;
}
.create-product-page input {
  background-color: transparent;
  border: 1px solid #eaeaea;
  color: #333;
  font-size: 14px;
  height: 50px;
  padding: 0 15px;
}
.create-product-page button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #7e4c4f;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.create-product-page button.submit {
  background-color: #7e4c4f;
}
.create-product-page button:disabled {
  background-color: rgba(126, 76, 79, 0.3882352941);
  cursor: default;
}
.create-product-page button:disabled:hover {
  background-color: rgba(126, 76, 79, 0.3882352941);
}
.create-product-page button:hover {
  background-color: #f6ab44;
}
.create-product-page a {
  text-decoration: underline;
}
.create-product-page a:hover {
  color: #f6ab44;
}
.create-product-page .back-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: #db1d2a;
  padding: 12px;
  margin-left: 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.create-product-page .back-btn:hover {
  background-color: #ac000b;
}
.create-product-page .text-fields {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.create-product-page .text-fields.options {
  display: block;
}
.create-product-page .text-fields.options button {
  height: 40px;
}
.create-product-page .text-fields.options button.add.disabled {
  background-color: rgba(126, 76, 79, 0.3882352941);
}
.create-product-page .text-fields.options button.remove {
  background-color: #db1d2a;
  margin-right: 10px;
}
.create-product-page .text-fields.options button.remove.disabled {
  background-color: rgba(219, 29, 42, 0.5568627451);
}
.create-product-page .text-fields.options button.remove:hover {
  background-color: rgba(219, 29, 42, 0.5568627451);
}
.create-product-page .text-fields.options .option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 15px;
}
.create-product-page .text-fields.options .text-field {
  width: 15%;
}
.create-product-page .text-fields.options .text-field:first-child {
  margin-right: 40px;
}
.create-product-page .text-fields .text-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  margin-bottom: 0;
}
.create-product-page .text-fields .text-field:last-child {
  padding-right: 0;
}
.create-product-page .text-fields .text-field:first-child {
  padding-left: 0;
}
.create-product-page .text-fields .text-field label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #7e4c4f;
  margin-bottom: 8px;
}
.create-product-page .text-fields .text-field input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.create-product-page .text-fields .text-field .error-msg {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: red;
}
.create-product-page .radio-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #7e4c4f;
  margin-bottom: 10px;
}
.create-product-page .radio-field label {
  cursor: pointer;
  margin-right: 20px;
}
.create-product-page .radio-field div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.create-product-page .radio-field div input {
  background: #fff;
  border: 2px solid #eceff8;
  padding: 10px;
  width: 100%;
  margin-right: 5px;
  cursor: pointer;
}
.create-product-page .textarea {
  width: 100%;
  margin-bottom: 15px;
}
.create-product-page .textarea textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background: #fff;
  border: 2px solid #eceff8;
  padding: 10px;
  width: 100%;
  color: #555;
  resize: vertical;
}
.create-product-page .textarea label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #7e4c4f;
  margin-bottom: 5px;
}
.create-product-page .checkbox-field {
  margin-bottom: 20px;
}
.create-product-page .checkbox-field div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.create-product-page .checkbox-field input {
  margin-right: 10px;
  width: 16px;
  cursor: pointer;
}
.create-product-page .error-msg {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: red;
}