.user-page {
  padding-top: 30px;
}
.user-page .setting-product {
  position: relative;
}
.user-page .setting-product.active .setting-item-content {
  height: auto;
  padding: 30px 20px;
  margin: 0 0 30px;
  border: 1px solid #eaeaea;
}
.user-page .setting-product-clicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px;
  cursor: pointer;
}
.user-page .setting-product-clicker__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  width: 42px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: #7e4c4f;
  color: #fff;
}
.user-page .setting-product-clicker__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  padding-left: 10px;
  width: 100%;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
}
.user-page .setting-product-content {
  height: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.user-page .setting-product-content__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}
.user-page .setting-product-content__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  letter-spacing: 0.2px;
}
.user-page .setting-product-content-form-container {
  width: auto;
  max-width: none;
  padding: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  padding-top: 28px;
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
}
.user-page .setting-product-content-form-container__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.user-page .setting-product-content-form-container__col .reviews {
  padding: 30px 0px;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item {
  width: 100%;
  margin-bottom: 30px;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item__ratting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item__ratting svg {
  fill: transparent;
  stroke: #838383;
  height: 16px;
  margin-right: 8px;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item__ratting svg.active {
  stroke: #4d2e30;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item__name-data {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 13px;
  color: #333;
  text-transform: capitalize;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item__name-data span {
  margin-right: 15px;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item__name-data button {
  background-color: transparent;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item__name-data button svg {
  fill: red;
  height: 14px;
}
.user-page .setting-product-content-form-container__col .reviews .product-reviews-item__description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #242424;
}
.user-page .setting-product-content-form-container__col .reviews .message-about-auth {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #242424;
  line-height: 26px;
  text-align: center;
  border-top: 1px #626262 solid;
  padding-top: 30px;
}
.user-page .setting-product-content-form-container__col .reviews .message-about-auth a {
  color: #7e4c4f;
  text-decoration: underline;
}
.user-page .setting-product-content-form-container__col .reviews .message-about-auth a:hover {
  text-decoration: none;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .title {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 12px;
  color: #303030;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .subtitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .subtitle p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #303030;
  margin-bottom: 6px;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .subtitle div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .subtitle div svg {
  fill: transparent;
  stroke: #838383;
  height: 16px;
  margin-right: 8px;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .subtitle div svg.active {
  stroke: #4d2e30;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .subtitle button.star {
  background-color: transparent;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .form {
  max-width: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .form .text-field {
  width: 50%;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .form .text-field:first-child {
  padding-right: 15px;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .form .text-field:last-child {
  padding-left: 15px;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .form input {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #626262;
  background-color: #fff;
  border: 1px solid #eceff8;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .form textarea {
  font-family: "Montserrat", sans-serif;
  resize: vertical;
  background: #fff;
  border: 2px solid #eceff8;
  padding: 10px;
  width: 100%;
  font-size: 14px;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .form button.submit {
  display: block;
  margin: 30px auto 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #fff;
  background: #7e4c4f;
  border-radius: 0;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .form button.submit:hover {
  background-color: #f6ab44;
}
.user-page .setting-product-content-form-container__col .product-reviews-add-form .form button.submit.disabled {
  background: rgba(126, 76, 79, 0.2862745098);
  cursor: default;
}
.user-page .setting-product-content-form-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.user-page .setting-product-content-form-container input {
  background-color: transparent;
  border: 1px solid #eaeaea;
  color: #333;
  font-size: 14px;
  height: 50px;
  padding: 0 15px;
}
.user-page .setting-product-content-form-container button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #7e4c4f;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.user-page .setting-product-content-form-container button.submit {
  background-color: #7e4c4f;
}
.user-page .setting-product-content-form-container button:disabled {
  background-color: rgba(126, 76, 79, 0.3882352941);
  cursor: default;
}
.user-page .setting-product-content-form-container button:disabled:hover {
  background-color: rgba(126, 76, 79, 0.3882352941);
}
.user-page .setting-product-content-form-container button:hover {
  background-color: #f6ab44;
}
.user-page .setting-product-content-form-container a {
  text-decoration: underline;
}
.user-page .setting-product-content-form-container a:hover {
  color: #f6ab44;
}
.user-page .setting-product-content-form-container .back-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: #db1d2a;
  padding: 12px;
  margin-left: 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.user-page .setting-product-content-form-container .back-btn:hover {
  background-color: #ac000b;
}
.user-page .setting-product-content-form-container .text-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}
.user-page .setting-product-content-form-container .text-field:last-child {
  padding-right: 0;
}
.user-page .setting-product-content-form-container .text-field:first-child {
  padding-left: 0;
}
.user-page .setting-product-content-form-container .text-field label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #242424;
  margin-bottom: 8px;
}
.user-page .setting-product-content-form-container .text-field input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  height: 40px;
  padding: 0 15px;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.user-page .setting-product-content-form-container .textarea {
  width: 100%;
}
.user-page .setting-product-content-form-container .textarea textarea {
  font-family: "Montserrat", sans-serif;
  resize: vertical;
  background: #fff;
  border: 2px solid #eceff8;
  padding: 10px;
  width: 100%;
  font-size: 14px;
}