.pointerForOptoins {
  label,
  input {
    cursor: pointer;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  color: #7e4c4f;
  // font-family: "Montserrat", sans-serif;
  font-family: "Pacifico", cursive;
  font-size: 34px;
  font-weight: 400;
  line-height: 61px;
  margin-bottom: 20px;
}
form {
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 0 5px 0px #525252;
  background-color: #fff;
  border-radius: 10px;

  .input-wrapper {
    margin-bottom: 10px;
  }
  label {
    color: #7e4c4f;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }
  input {
    // color: #f6ab44;
    color: #f6ab44;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    border: 1px #7e4c4f73 solid;
    border-radius: 3px;
    padding: 2px 3px;

    &:focus {
      outline: 1px #7e4c4f solid;
    }
  }
}
