code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.app-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 80px;

  @media (max-width: 500px) {
    padding-top: 65px;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;

  @media (max-width: 500px) {
    width: 100px;
    height: 100px;
  }
}
